@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root{
  font-size: 62.5%; 
}

body {
  background-color: rgb(211, 211, 211);
}

.App{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    width: 50rem;
    height: 80rem;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 2rem;
    
}

h1{
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
  color:dodgerblue;
}

p{
  font-size: 1.6rem;
  text-align: center;
}

label{
  font-size: 1.6rem;
  margin-bottom: -1.5rem;
  margin-left: 1rem;
}

input{
  width: 35rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin: 1rem;
  border: none;
  background-color: #e4e0e0;
  padding: 1rem;
}

input[type=submit]{
  width: 20rem;
  height: 4rem;
  border-radius: 1rem;
  background-color:dodgerblue;
  border: none;
  color: white;
  margin: 5rem;
  font-size: 1.7rem;
}

.bnt{
    text-align: center;
}

input[type=submit]:hover{
  transform: scale(1.1);
  cursor: pointer;
}

a{
    color: dodgerblue;
    text-decoration: none;
}
  
  a:hover{
    text-decoration:underline;
}

.voltar{
    margin-top: -3rem;
  }