<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styleDetalhe.css">
    <title>Document</title>
</head>
<body>
    <h1>Informações</h1>
    <div class="container">
        <div class = "imgContainer">
            <img src="/img/pessoa.png" alt="icon">
        </div>
        <div class = "infoContainer">
            <p>Nome:</p>
            <p>CPF:</p>
            <p>Data de Nascimento:</p>
            <p>SUS:</p>
            <p>Contato:</p>
            <p>Relatório:</p>
        </div>
    </div>
</body>
</html>